/* Колір лого  color: #2196F3;*/
/* Колір в  посилань хедері 
color: #2196F3;       color: #757575;*/
/* Бекграунд background: #E5E5E5; background: #2F303A; */
/* Колір h1  color: #FFFFFF; */
/* Колір посилань у футері color: rgba(255, 255, 255, 0.6); */


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --main-background-color: #FFFFFF;
  --grey-background-color: #2F303A;
  --button-background-color: #188CE8;
  --secondary-white-background-color: #F5F4FA;
}

body {

  color: var(--primary-text-color);
  background: var(--main-background-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-header {
  border-bottom: 1px solid #ECECEC;;
  background: var(--main-background-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.leader {
  display: flex;
}

nav {
  display: flex;
  align-items: baseline;
} 

.logo-header {
  display: block;
  margin-right: 93px;
  margin-bottom: 25px;

  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  list-style: none;
  text-decoration: none;
}

.logo-first-part {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.site-nav {
  display: flex;
}

.site-nav__list {
  margin-right: 50px;
  list-style: none;
  text-decoration: none;
}

.site-nav__list:last-child {
  margin-right: 0;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
  text-decoration: none;

  /* transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.site-nav__link.current {
  position: relative;
  color: var(--accent-color);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
  
}

.current::after {
position: absolute;
display: inline-block;
content: " ";
bottom: 0;
left: 0;
Width: 100%;
Height: 4px;
background: #2196F3;
border-radius: 2px;
}


.auth-nav {
  display: flex;
  margin-left: auto;

}

.auth-nav__list {
  display: flex;
  align-items: center;
  margin-right: 50px;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  text-decoration: none;
  
}

.auth-nav__list:last-child {
  margin-right: 0;
}

.page-header__button {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  font-family: inherit;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px ;
  list-style: none;
  text-decoration: none;
  
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__button:hover,
.page-header__button:focus {
  cursor: pointer;
  color: var(--accent-color);
  
  
}

/* Sprite */

.auth-nav__icon {
  margin-right: 10px;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  width: 16px;
  height: 12px;
  fill: currentColor;
}

.auth-nav__icon--shape {
  width: 10px;
  height: 16px;
}

/*Hero section*/

.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background: var(--grey-background-color);

}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
  url(../images/Img\ \(1\).jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-section__title {

  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  color: var(--main-background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  width: 696px;
}

.button {
  margin: 0;
  padding: 0;
  align-items: center;
  text-align: center;
  cursor: pointer;

  color: var(--main-background-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.hero-section__button:hover{
  color: var(--main-background-color);
  background-color: var(--button-background-color);
  font-family: inherit;
  
}


.form-box {
  flex-direction: column;
  display: flex;
  text-align: start;
  margin-bottom: 10px;
}
.textarea {
  margin-bottom: 20px;
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  
  color: var(--title-text-color);
}

.form-label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
} 

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin: 0;
  padding: 12px 12px 12px 42px;
  cursor: pointer;
  outline: none;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input__position {
  position: relative;
}

.form-input:hover,
.form-input:focus {
  border: 1px solid #2196F3;
  border-radius: 4px;
}

.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  fill: var(--title-text-color);
  cursor: pointer;
  /* transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.form-input:hover + .form-icon,
.form-input:focus + .form-icon {
  fill: var(--accent-color);
}

.form-textarea {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px 16px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:hover,
.form-textarea:focus {
  border: 1px solid #2196F3;
  cursor: pointer;
}


.checkbox {
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

.checkbox-label {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 13px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
} 

.checkbox-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;
}

.checkbox-icon__main{
  display: flex;
  align-items: center;
  margin-right: 7px;
  width: 16px;
  height: 15px;
} 


.checkbox-icon__first {
  width: 16px;
  height: 15px;
}

.checkbox-icon__replaced {
  display: none;
  margin-right: 7px;
  width: 16px;
  height: 15px;
}

.checkbox-icon__second { 
 
  background-color: var(--accent-color);
  width: 16px;
  height: 15px;
}

.checkbox-input:checked ~ .checkbox-icon__main {
  display: none;
}

.checkbox-input:checked ~ .checkbox-icon__replaced {
  display: flex;
  align-items: center;
}

.checkbox__contract {
  margin-left: 4px;
  text-decoration-line: underline;
  color: #2196F3;
}

/* .visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
} 
*/
/* Second section  */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Third-section */

.third-section {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  padding-top: 94px;
  padding-bottom: 94px;
}

.third-section__title{
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.third-section__list {
  display: flex;
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.third-section__photos:not(:last-child) {
  margin-right: 30px;
}

.third-section__thumb {
  position: relative;
}

.third-section__actions {
  position: absolute;
  bottom: 27px;
  left: 0;
  right: 0;

  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-background-color);
}

.third-section__thumb::before {
  position: absolute;
  display: inline-block;
  content: " ";
  bottom: 0;
  width: 370px;
  height: 70px;

  background: rgba(47, 48, 58, 0.8);
}




.main-section .third-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.third-title {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 10px;
}

.activity {

  padding-top: 0;
}

.main-section .second-item {
  line-height: 1.71;

}


.main-section .point {
  display: flex;

}

.specifics {
  width: 270px;
  margin-right: 30px;
  margin-left: 0;
}

.specifics:last-child {
  margin-right: 0;
}

.secondary-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}



/*Fourth section*/

.fourth-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background: var(--secondary-white-background-color);
}

.secondary-title.studiia {
 text-align: center;
 margin-bottom: 50px;

}

.team-list {
  display: flex;
}

/* .team-list .employee {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  
} */

.employee {

  margin-right: 30px;
  background: var(--main-background-color);
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.employee:last-child {
  margin-right: 0;
}

.profession {
 padding-top: 30px;
 padding-bottom: 16px;
/*margin-top: 30px;
margin-bottom: 30px;*/
 text-align: center;
}

.fourth-section .third-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.fourth-section p {
  font-size: 16px;
  line-height: 1.19;
  
}

.social-box {
  padding-bottom: 30px;
  text-align: center;
}

.personal-sites {
  margin-right: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.personal-sites:last-child {
  margin-right: 0;
}

.personal-link-site{
display: flex;
align-items: center;
width: 100%;
height: 100%;
padding: 12px 12px;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.personal-link-site:hover .personal-icon-site,
.personal-link-site:focus .personal-icon-site{
  fill: var(--main-background-color);
}

.personal-sites:hover {
  background-color: var(--accent-color);
}

.personal-icon-site {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}


.fifth-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/*Footer*/

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--grey-background-color);
}

.logo-footer {
  display: inline-block;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  list-style: none;
    text-decoration: none;
  
  color: var(--main-background-color);
  font-family: Raleway, sans-serif;
}

address {
  font-style: normal;

}

.address li:not(:last-child){
  margin-bottom: 9px;
}

.address p {
 color: var(--main-background-color);
 line-height: 1.71;
}

.address a { 
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
}

.footer-primary-button {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  font-family: inherit;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
    text-decoration: none;
}
.basement {
  display: flex;
  align-items: baseline;
}

.footer-div {
  margin-right: 70px;
}

.footer-div:last-child {
  margin-right: 0;
}

.footer-subscribe {
  margin-left: auto;
}

.joining-paragraph {
  color: var(--main-background-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;

}

.social-sites {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-sites {
  margin-right: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-sites:hover,
.footer-sites:focus {
  background-color: var(--accent-color);

}

.footer-sites:last-child {
  margin: 0;
}

.bottom-symbol {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 12px 12px;
  list-style: none;
  text-decoration: none;
}

.sites {
  width: 20px;
  height: 20px;
  fill: var(--main-background-color);
}


.footer-m-l-joining {
  display: flex;
}

.m-l-input {
  width: 358px;
  height: 50px;
  padding-left: 15px;
  margin-right: 12px;
  background-color: var(--grey-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  outline: none;
  color: var(--main-background-color);


  /* 
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6); */
}

.icon-submit {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: var(--main-background-color);
}

.subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 29px;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}



/*Portfolio*/


.button-portfolio {
  cursor: pointer;

  color: var(--title-text-color);
  background: var(--secondary-white-background-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio:hover {
  color: var(--main-background-color);
  background-color: var(--accent-color);
}

.list.portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;

}

.work-list {
  margin-right: 8px;
  border-radius: 4px;

  transition: bow-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-list:last-child{
  margin-right: 0;
}

.work-list:hover,
.work-list:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
}


.portfolio-examples.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-right: -30px;
  margin-bottom: -30px;

}

.portfolio-item {
  margin-right: 30px;
  margin-bottom: 30px;
  background: #FFFFFF;
  
}

.portfolio-item:nth-child(3n){
  margin-right: 0px;
}

.link-p-i {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-p-i:hover {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
}

.names {

  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.portfolio-examples li {
  background: var(--main-background-color);
}

.portfolio-examples .secondary-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-examples .ex-names {
  font-size: 16px;
  line-height: 1.88;
}

.portfo-thumb {
  position: relative;
  overflow: hidden;
}

.portfo-general {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);;
  opacity: 0; 
  transform: translateY(100%);
  
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
  opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfo-general{
  transform: translateX(0);
  opacity: 1;
}


.suggestion {
  position: absolute;
  top: 63px;
  left: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--main-background-color);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .suggestion {
  opacity: 1;
}

.secondary-title.portfolio {

  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  margin-bottom: 4px;
  text-align: left;
  letter-spacing: 0.06em;
  
}


/* Sprite.css  */
/* Header */


 /* Hero section */
 .close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    padding: 0;
    width: 30px;
    height: 30px;
    background: var(--main-background-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
 }
 .close:hover {
   fill:  #2196F3;
   
 }

 .close {
  margin: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  fill: #000000;
 }

 /* Second section */
 .features {
   display: flex;
   align-items: center;
   width: 270px;
   height: 120px;
   margin-bottom: 30px;
   border-radius: 4px;
   background: #F5F4FA;
   padding: 25px 100px;
 }

 .specific-pic {
   width: 70px;
   height: 70px;
  }
 
 .specific-pic:last-child {
   margin-right: 0;
  }

 /* Clients */
.clients {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.link-icon {
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  padding: 16px 32px;
  fill: #AFB1B8;

  
}

a .link-icon {
 transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
 border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon:hover,
.link-icon:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}


.icontype {
  margin-right: 30px;
  fill: #AFB1B8;
}

.icontype:last-child {
  margin-right: 0;
}

 
/* Backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;

  z-index: 2;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
 
}


.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  
  padding: 40px;
  width: 528px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.backdrop.is-hidden .modal {
  transform: translate(50%, 50%);
}